.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.list {
  list-style: none;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 200px);
  grid-auto-rows: 180px;
}

.item {
  border-radius: 12px;
  border: 1px solid #2a2828;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
